@tailwind base;
@tailwind components;
@tailwind utilities;
#complex-form_username,
#complex-form_password {
  background-color: transparent !important;
  color: white;
}
#complex-form_username::placeholder,
#complex-form_password#complex-form_password::placeholder {
  color: gray !important;
}
